@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Hero
        - Navigation
        - Footer
        - Our Philosophy
        - Memberships
        - Class Groupings
        - Positioning
        - Kombucha
        - Studio Etiquette
        - Borders
        - Card Class
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class   
        - Buttons 
        - Icons

--------------------------------------------------------------*/

/*--------------------------------------------------------------
    2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----------- UNIVERSAL ------------- */

* {
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
    font: .95rem 'Poppins', sans-serif;
    line-height: 2rem;
}

@media screen and (min-width: 1024px) {
 
    html {
        font-size: 1rem;
    }
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

p,
h1, 
h2,
h3 {
    font-weight: 400;
}

li {
    list-style-type: none;
}

h1 {
    margin: 0;
}

/* ----- TYPOGRAPHY ----- */

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {

    h1 {
        text-align: left;
    }

    h2 {
        font-size: 1.8rem;
    }
}

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 93%;
        margin: 0 auto;
}

.row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

[class*='col-'] {
        padding: 2px;
}

[class*='col-'] [class*='col-'] {
        margin-left: -2px;
        margin-right: -2px;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}
.col-sm-2 {
    width: calc(100% * 2 / 12);
}
.col-sm-3 {
    width: calc(100% * 3 / 12);
}
.col-sm-4 {
    width: calc(100% * 4 / 12);
}
.col-sm-5 {
    width: calc(100% * 5 / 12);
}
.col-sm-6 {
    width: calc(100% * 6 / 12);
}
.col-sm-7 {
    width: calc(100% * 7 / 12);
}
.col-sm-8 {
    width: calc(100% * 8 / 12);
}
.col-sm-9 {
    width: calc(100% * 9 / 12);
}
.col-sm-10 {
    width: calc(100% * 10 / 12);
}
.col-sm-11 {
    width: calc(100% * 11 / 12);
}
.col-sm-12 {
    width: calc(100% * 12 / 12);
}

@media screen and (min-width: 768px) {

    .wrapper {
            width: 85%;
    }

    [class*='col-'] {
            padding: 8px;
    }

    [class*='col-'] [class*='col-'] {
            margin-left: -8px;
            margin-right: -8px;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }
    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
            width: 85%;
    }

    [class*='col-'] {
            padding: 5px;
    }

    [class*='col-'] [class*='col-'] {
            margin-left: -5px;
            margin-right: -5px;
    }

    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }
    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

#our-philosophy,
#memberships,
#class-groupings  {
    margin: 4em 0;
} 

#kombucha,
#etiquette {
    background-color: #E9EFDB;
    padding: 4em 0;
    margin: 4em 0 5em;
}

.lg-numbers {
    font-size: 3rem;
    font-weight: 700;
    color: #BDD191;
    margin: .8em 0 .5em;
}
@media screen and (min-width: 768px) {
    #kombucha,
    #etiquette {
        margin: 4em 0 2em;
    }
}

@media screen and (min-width: 1024px) {

    #our-philosophy,
    #memberships,
    #class-groupings  {
        margin: 8em 0;
    } 

    #kombucha,
    #etiquette {
        margin: 8em 0 0;
    }

    .lg-numbers {
        font-size: 4rem;
    }
}

/* ----- HERO ----- */

#hero-home h1,
#hero-our-classes > div > div {
    text-align: center;
}

#hero-home h1,
#hero-our-classes h1 {
    text-align: left;
}

#hero-home {
    background: url(../img/new-hero.jpg) no-repeat center;
    padding: 3em 0 0;
}

#hero-our-classes  {
    background: url(../img/succulent.jpg) no-repeat center;
}

#hero-home p:first-child {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: #272727;
    margin-bottom: 0;
}

#hero-home p:last-child{
    margin-bottom: 2.8em;
}

#hero-our-classes h1 {
    padding: 2.4em 0;
}

header .wrapper {
    margin-top: 2em;
}

@media screen and (min-width: 768px) {

    header .wrapper {
        margin-top: 1em;
    }

    #hero-home {
        padding: 3em;
    }

    #hero-our-classes h1 {
        text-align: left;
    }

    #hero-home p:first-child {  
        font-size: 2.4rem;
        line-height: 3.3rem;
    }
}

@media screen and (min-width: 1024px) {

    header .wrapper {
        margin-top: 0;
    }

    #hero-home {
        padding: 12em 0 1em;
    }
    
    #hero-home p:first-child {
        font-size: 3.5rem;
        line-height: 4.4rem;
    }

    #hero-home p:last-child {
        margin: 3em 0 0;
    }

    #hero-home .wrapper div:last-child {
        display: block;
        text-align: center;
        margin-top: 13em;
    }

    #hero-our-classes h1 {
        font-size: 3em;
        margin: 1.5em 0;
    }

    header .txt-center {
        text-align: left;
        margin-top: .5em;
    }

    header .row {
        align-items: center;
    }
}

/* ----- NAVIGATION ----- */

nav ul {
    text-align: center;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 .5em .6em .5em;
    font-size: 1rem;
}

nav li:first-child a {
    color: #819D45;
}

nav a {
    color: #5E5E5E;
    letter-spacing: .15em;
}

@media screen and (min-width: 768px) {
    nav ul {
        text-align: center;
        padding: 0;
        margin-top: 0;
    }
}


@media screen and (min-width: 1024px) {
    
    nav a:hover,
    nav li:first-child a:hover {
    border-bottom: .75px solid #819D45;
    padding-bottom: .2em;
    }

    header nav ul {
        text-align: right;
        margin-top: 2.1em;
    }

    nav li {
        margin-left: 1.5em;        
        font-size: .9rem;
        margin-bottom: 1em;
    }

    #hero-our-classes nav ul {
        margin-top: 2.1em;
    }
}

/* ----- FOOTER ----- */

footer {
    text-align: center;
}

footer img {
    margin-top: 4em;
    margin-bottom: 0;
}

footer ul {
    padding-left: 0;
    margin: 2em 0 0em;
}

footer nav li {
    margin: 0.7em 0;
    display: block;
}

footer a {
    letter-spacing: .1em;
    font-size: 1rem;
    color: #5E5E5E;
}

footer > div:last-child li {
    display: inline-block;
}

footer nav li:first-child a {
    color: #5E5E5E;
}

@media screen and (min-width: 768px) {
    footer img {
        margin-top: 0;
    }

    footer nav li {
        margin: 0;

    }
}

@media screen and (min-width: 1024px) {

    footer,
    footer nav ul {
        text-align: left;
    }

    footer img {
        margin-top: 3.9em;
    }

    footer ul {
        margin: .5em 0 3em;
    }

    footer a {
        letter-spacing: .2em;
        line-height: 2.5rem;
        font-size: .9rem;
    }

    footer nav a:hover {
        border-bottom: .75px solid #819D45;
        padding-bottom: .2em;;
    }  

    footer > div:last-child a {
        border-bottom: none;
    }
}


/* ----- OUR PHILOSOPHY ----- */


#our-philosophy:before {
    background: url(../img/buddha.jpg) no-repeat center;
    height: 50%;
    bottom: -27em;
    right: 0;
    margin-top: 2em;
}

#our-philosophy {
    margin-bottom: 34em;
}

@media screen and (min-width: 768px) {
    #our-philosophy {
        left: 4.07em;
        text-align: center;
    }

    #our-philosophy:before {
        right: 3.95em;
        height: 63%;
        margin-bottom: 2em;
}
}

@media screen and (min-width: 1024px) {

    #our-philosophy {
        text-align: left;
        margin-bottom: 10em;
        left: 0;
    }
    
    #our-philosophy:before {
        height: 90%;
        top: 0;
        right: 0;
    }
}

/* ----- MEMBERSHIPS ----- */

#memberships section:first-child {
    margin-left: 1em;
    margin-top: 25em;
}

#memberships .wrapper .row > div:last-child {
    text-align: right;
}

#memberships .wrapper .row > div:last-child p {
    font-weight: 600;
}

#memberships h3 {
    color:#819D45;
    font-weight: 500;
    margin-bottom: 0;
}

#memberships:before {
    background: url(../img/meditation.jpg) no-repeat center;
    height: 21em;
    top: 0;
    left: 0;
}
@media screen and (min-width: 768px) {

    #memberships {
        top: 3em;
        left: 11em;
    }

    #memberships section:first-child {
        border-left: 1px solid #819D45;
        padding-left: 3em;
        margin: 0 0 0 4em;
    }

    #memberships:before {
        left: -35em;
        height: 33em;
    }
}

@media screen and (min-width: 1024px) {

    #memberships .wrapper section,
    #memberships h3 {
        margin: 0;
    }

    #memberships > .row {
        justify-content: flex-end;
    }

    #memberships:before {
        height: 100%;
        top: 0em;
        left: 7em;
    }

    #memberships .wrapper section section {
        margin-top: 0em;
    }

    #memberships .wrapper .row > div:last-child {
        margin-bottom: 2em;
    }

    #memberships {
        text-align: left;
        left: -14em;
        top: 1em;
    }

    #memberships h2 {
        margin: 0 0 2em 0;
    }
}

/* ----- CLASS GROUPINGS ----- */

#class-groupings h3,
#class-groupings p:first-of-type {
    font-weight: 500;
}

#class-groupings h3 {
    color: #819D45;
    margin-bottom: 0;
    font-size: 1.3rem;
}

#class-groupings p:first-of-type {
    margin: .3em 0 .5em;
    font-size: 1.2rem;
}

#class-groupings section {
    margin-bottom: 3em;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    #class-groupings {
        text-align: left;
        margin-left: 6em;
        border-left: 1px solid #819D45;
    }

    #class-groupings section {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
   
    #class-groupings {
        border: none;
        margin-left: 0;
    }

    #class-groupings > div:last-child {
        background: url(../img/friends.jpg) no-repeat center;
        height: 100%;
        width: 47%;
    }

    #class-groupings h3 {
        font-size: 1.6rem;
    }

    #class-groupings h2 {
        font-size: 1.8rem;
        margin-bottom: 1em;
    }

    #class-groupings p:last-child {
        margin: .3em 0 2em;
        font-size: 2rem;
    }
}

/* ----- POSITIONING ----- */

#memberships:before,
#our-philosophy:before {
    position: absolute;
    content: '';
    width: 100%;
}

@media screen and (min-width: 768px) {
    #memberships:before {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    #memberships:before {
        width: 50%;
    }

    #our-philosophy:before {
        width: 50%;
    }
    #class-groupings > div:last-child {
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* ----- KOMBUCHA ----- */

#kombucha p:last-child {
    margin-top: 1.7em;
}

#kombucha {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #kombucha {
        text-align: left;
    }
}

/* ----- STUDIO ETIQUETTE ----- */

#etiquette li {
    list-style-type: initial;
    margin-bottom: 1.4em;
    font-size: .9rem;
}

#etiquette ul {
    padding-left: 0;
}

#etiquette h2,
#etiquette ul:first-child li:last-child  {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    
    #etiquette ul:first-child {
        margin-right: 1.5em;
    }

    #etiquette li {
        list-style-type: initial;
        margin-bottom: 1.4em;
        font-size: initial;
    }
}

@media screen and (min-width: 1024px) {

    #etiquette ul:first-child {
        margin-right: 3em;
    }
}

/* ----- BORDERS ----- */

.border-green {
    background-color: #BDD191;
    padding: .05em;
    margin: 5rem auto;
}

div.col-sm-8.border-green {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {

    div.col-sm-8.border-green {
        display: none;
    }
    
    .border-green {
        margin: 2rem auto;
    }
}

@media screen and (min-width: 1024px) {

    .border-green {
        margin: 10rem auto;
    }
}

/* ----- CARD CLASS ----- */

.card-class > #bg-stretch {
    background: url(../img/stretch.jpg) no-repeat center;
}

.card-class > #bg-outdoor-class {
    background: url(../img/outdoor-class.jpg) no-repeat center;
}

.card-class > #bg-yoga-class {
    background: url(../img/yoga-class.jpg) no-repeat center;
}

section.card-class {
    margin-bottom: 2em;
}

.card-class div:first-child {
    height: 20em;
}

.card-class h2 {
    color:#819D45;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
}

.card-class div.col-sm-12 p:last-child {
    margin-top: .3em;
}

section.txt-center h2 {
    margin-bottom: 1em;
}

.card-class.vert div:first-child{
    height: 21em;
}

section.card-class.vert {
    margin-bottom: 2em;
}

.card-class.vert .lg-numbers {
    margin-bottom: .3em;
}

.card-class.vert h3 {
    font-size: 1.2rem;
    margin: 0;
}

@media screen and (min-width: 768px) {

    .card-class.vert {
        margin: 0 auto;
    }

    .card-class.vert .lg-numbers {
        margin-bottom: .5em;
        margin-top: 1em;
    }

    .card-class div:first-child {
        height: auto;
    }

    section.txt-center h2 {
        margin-bottom: 2em;
    }

    .card-class.vert h3 {
        font-size: 1.5rem;
        margin: 1.8em 0 0 0;
    }

    .card-class.vert > p:last-child {
        margin-top: .6em;
    }
}

@media screen and (min-width: 1024px) {

    .card-class  {
        justify-content: flex-start;
    }  

    .card-class div:first-child  {
        margin-right: calc(40% * 1 / 12);
        margin-bottom: 2em;
    }

    .card-class .lg-numbers {
        margin-top: 0.1em;
    }

    section.card-class {
        margin-left: 4em;
    }
}

#class-groupings > div:last-child,
#hero-home,
#hero-our-classes,
#our-philosophy:before,
#memberships > div:first-child div,
.card-class div:first-child,
.card-class:nth-child(2) > div:first-child {
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
    -ms-background-size: cover  !important;
    background-size: cover !important;
}

/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */

.txt-center {
    text-align: center;
}

.pos-relative {
    position: relative;
    top: 0;
    left: 0;
}
.sr-only {
    position:absolute;
    left:-10000px;
    top: auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* ----- BUTTONS ----- */

.btn {
    background-color: #fff;
    color: #2B5913;
    padding: 1.1em 2.8em;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .1em;
    border: 1px solid #819D45;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    -o-radius: .4em;
    -ms-border-radius: .4em;
    border-radius: .4em;
}

@media screen and (min-width: 768px) {

    .btn {
        padding: 1em 3.2em; 
        font-size: .8rem;
    }
}

@media screen and (min-width: 1024px) {

    .btn {
        padding: 1em 3.2em; 
        font-size: .8rem;
    }

    .btn:hover {
        background-color: #E9EFDB;
    }
}

/* ----- ICONS ----- */

[class^="fa"]{
    color: #819D45;
    font-size: 1.5rem;
    margin: 0 .5em 1em 0;
}

@media screen and (min-width: 1024px) {
    [class^="fa"]{
        font-size: 1.4rem;
        margin: 8.4em .3em 0 0;
    }

    .fa-angle-down {
        color: #fff;
        font-size: 3.5rem;
        margin: 0;
    }
}

