@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors

5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components

7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class   

--------------------------------------------------------------*/

/*--------------------------------------------------------------
    2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----------- UNIVERSAL ------------- */

* {
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html {
    font-size: .95rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
}

@media screen and (min-width: 1024px) {
 
    html {
        font-size: 1rem;
    }
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

p,
h1, 
h2,
h3 {
    font-weight: 400;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

li {
    list-style-type: none;
}

@media screen and (min-width: 1024px) {
 
    img {
        margin-top: .35em;
    }
}

/* ----- TYPOGRAPHY ----- */

h1 {
    text-align: left;
}

h2 {
    font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {

    h1 {
        text-align: left;
    }

    h2 {
        font-size: 1.8rem;
    }
}

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 93%;
        margin: 0 auto;
}

.row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

[class*='col-'] {
        padding: 2px;
}

[class*='col-'] [class*='col-'] {
        margin-left: -2px;
        margin-right: -2px;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}
.col-sm-2 {
    width: calc(100% * 2 / 12);
}
.col-sm-3 {
    width: calc(100% * 3 / 12);
}
.col-sm-4 {
    width: calc(100% * 4 / 12);
}
.col-sm-5 {
    width: calc(100% * 5 / 12);
}
.col-sm-6 {
    width: calc(100% * 6 / 12);
}
.col-sm-7 {
    width: calc(100% * 7 / 12);
}
.col-sm-8 {
    width: calc(100% * 8 / 12);
}
.col-sm-9 {
    width: calc(100% * 9 / 12);
}
.col-sm-10 {
    width: calc(100% * 10 / 12);
}
.col-sm-11 {
    width: calc(100% * 11 / 12);
}
.col-sm-12 {
    width: calc(100% * 12 / 12);
}

@media screen and (min-width: 768px) {

        .wrapper {
                width: 85%;
        }

        [class*='col-'] {
                padding: 8px;
        }

        [class*='col-'] [class*='col-'] {
                margin-left: -8px;
                margin-right: -8px;
        }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }
    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

@media screen and (min-width: 1024px) {
        .wrapper {
                width: 70%;
        }

        [class*='col-'] {
                padding: 5px;
        }

        [class*='col-'] [class*='col-'] {
                margin-left: -5px;
                margin-right: -5px;
        }

    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }
    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

#our-philosophy,
#memberships,
#kombucha,
#class-groupings,
#etiquette {
    margin: 4em 0;
}

#kombucha,
#etiquette {
    background-color: #E9EFDB;
    padding: 4em 0;
}

.lg-numbers {
    font-size: 3rem;
    font-weight: 700;
    color: #BDD191;
    margin: .8em 0 .5em;
}

#kombucha {
    margin-top: 0;
}

#kombucha p:last-child {
    margin-top: 1.7em;
}

@media screen and (min-width: 1024px) {

    #our-philosophy,
    #memberships,
    #class-groupings  {
        margin: 8em 0;
    } 

    #kombucha,
    #etiquette {
        margin: 8em 0 0;
    }

    .lg-numbers {
        font-size: 4rem;
        margin: 1.5em 0 .8em;
    }
}

/* ----- HERO ----- */

#hero-home h1,
#hero-our-classes > div > div {
    text-align: center;
}

#hero-home h1 {
    margin: 1.25em 0 .25em 0;
}

#hero-home p:first-child {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: #272727;
    margin-bottom: 0;
}

#hero-home p:last-child{
    margin-bottom: 2.8em;
}

#hero-home > div:nth-child(2) {
    background: url(../img/hero-lg.jpg) no-repeat center;
    padding: 3em 0;
}

#hero-home > div:last-child {
    display: none;
}

#hero-our-classes h1 {
    margin: 0 0 1em .75em;
}

#hero-our-classes > div > div {
    margin-top: 2.5em;
}

#hero-our-classes > div:last-child {
    background: url(../img/succulent.jpg) no-repeat center;
    padding: 3em 0;
}

#hero-our-classes nav ul {
    margin: 1.15em 0 1.4em;
}

@media screen and (min-width: 768px) {
    #hero-home p:first-child {  
    margin: 2em 1.5em 0em 1em;
    font-size: 2.4rem;
    line-height: 3.3rem;
    }

    #hero-home > div:nth-child(2) {
        padding: 3em 0 3em 1em;
    }

    #hero-home p:last-child {
        margin-left: 2.2em;
    }
}

@media screen and (min-width: 1024px) {

    #hero-home h1 {
        margin-top: .8em;
    }

    #hero-home img {
        text-align: left;
    }
    
    #hero-home p:first-child {
        font-size: 3.5rem;
        line-height: 4.4rem;
        margin: 1em .5em .5em 0;
    }

    #hero-home p:last-child {
        margin: 3em 0 0;
    }
    
    #hero-home > div:nth-child(2){
        padding: 14em 0 20em;
    }

    #hero-home > div:last-child {
        position: absolute;
        display: initial;
        top: 30em;
        left: 53em;
    }

    #hero-our-classes h1 {
        margin: .5em 0 .3em 5.5em;
        font-size: 3em;
    }
    
    #hero-our-classes > div > div {
        margin: 0;
        margin: 1.95em 0;
    }
    
    #hero-our-classes > div:last-child {
        padding: 5em 0;
    }

    #hero-home {
        position: relative;
        top: 0;
        left: 0;
    }
}

/* ----- NAVIGATION ----- */

nav ul {
    text-align: center;
    padding: 0;
    margin-bottom: 1.15em;
}

nav li {
    display: inline-block;
    margin: 0 .5em .6em .5em;
    font-size: .85em;
}

nav li:first-child a {
    color: #819D45;
}

nav a {
    color: #5E5E5E;
    letter-spacing: .2em;
}

@media screen and (min-width: 1024px) {

    nav {
        margin-bottom: 1em;
    }
    
    nav a:hover,
    nav li:first-child a:hover {
    border-bottom: .75px solid #819D45;
    padding-bottom: .2em;
    }

    nav ul {
        text-align: right;
        margin-top: 2.3em;
    }

    nav a {
        margin-left: 2.8em;
        font-size: .9rem;
        margin-bottom: 1em;
    }

    #hero-our-classes nav ul {
        margin-top: 2.3em;
    }
}

/* ----- FOOTER ----- */


footer {
    text-align: center;
}

footer ul {
    padding-left: 0;
    margin: .5em 0 1em;
}

footer img {
    margin-top: 3.9em;
}

footer a {
    letter-spacing: .1em;
    font-size: .9em;
    color: #5E5E5E;
}

footer > div:last-child li {
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    footer {
        text-align: left;
    }

    footer ul {
        margin: .5em 0 3em;
    }

    footer a {
        letter-spacing: .2em;
        line-height: 2.5rem;
    }

    footer a:hover {
        border-bottom: .75px solid #819D45;
        padding-bottom: .2em;;
    }  

    footer > div:last-child a {
        border-bottom: none;
    }

    footer .col-lg-10 > a{
        border-bottom: none;
    }
}

/* ----- OUR PHILOSOPHY ----- */


#our-philosophy:before {
    background: url(../img/buddha.jpg) no-repeat center;
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    bottom: -27em;
    right: 0;
    margin-top: 2em;
}

#our-philosophy {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 30em;
}

@media screen and (min-width: 768px) {
    #our-philosophy {
        left: 4.07em;
        text-align: center;
    }

    #our-philosophy:before {
        right: 3.95em;
        width: 100%;
        height: 63%;
        margin-bottom: 2em;
}
}

@media screen and (min-width: 1024px) {

    #our-philosophy {
        text-align: left;
        margin-bottom: 10em;
        left: 0;
    }
    
    #our-philosophy:before {
        width: 50%;
        height: 90%;
        top: 0;
        right: 0;
    }

}

/* ----- MEMBERSHIPS ----- */


#memberships .wrapper section {
    margin-left: 4em;
    margin-top: 25em;
}

#memberships .wrapper .row > div:last-child {
    margin: 3.4em 0 0 1em;
    text-align: right;
}

#memberships .wrapper .row > div:last-child p {
    font-weight: 600;
}

#memberships .wrapper .row h3 {
    color:#819D45;
    font-weight: 500;
}

#memberships {
    position: relative;
    top: 0;
    left: 0;
}

#memberships:before {
    background: url(../img/meditation.jpg) no-repeat center;
    height: 21em;
    width: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
}

@media screen and (min-width: 768px) {

    #memberships {
        top: -16em;
        left: 11em;
    }

    #memberships section {
        border-left: 1px solid #819D45;
        padding-left: 3em;
    }

    #memberships .wrapper section {
        margin-left: 5em;
    }

    #memberships:before {
        top: 25.5em;
        left: -35em;
        height: 33em;
        width: 78%;
    }
}

@media screen and (min-width: 1024px) {

    #memberships > .row {
        justify-content: flex-end;
    }

    #memberships:before {
        width: 50%;
        height: 93%;
        top: 1.8em;
        left: 6em;
    }

    #memberships .wrapper .row > div:last-child {
        margin-top: 3.5em;
        margin-bottom: 1.5em;
    }

    #memberships .wrapper section {
        margin-top: 0;
        margin-left: 0;
    }

    #memberships {
        text-align: left;
        left: -6em;
        top: 1em;
    }
}


/* ----- CLASS LEVELS ----- */

#class-levels section:first-child div,
#class-levels section:nth-child(2) div,
#class-levels section:last-child div {
    padding: 9em;
}

#class-levels section,
#class-levels > p:last-child,
#class-levels h2 {
    text-align: center;
}

#class-levels section {
    margin-bottom: 3em;
}

#class-levels header + p {
    margin-top: 0;
}

#class-levels h2 {
    margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
    #class-levels section {
        margin: 0 auto;
    }

    #class-levels {
        margin-top: 4em;
    }
}

@media screen and (min-width: 1024px) {
    #class-levels h2 {
        text-align: left;
        margin-top: 5em;
    }

    #class-levels h3 {
        font-size: 1.5rem;
        margin-bottom: .7em;
    }

    #class-levels section {
        margin-bottom: 1em;
    }
}

/* ----- CLASS GROUPINGS ----- */

#class-groupings h3,
#class-groupings p:first-of-type {
    font-weight: 500;
}


#class-groupings {
    text-align: center;
}

#class-groupings h3 {
    color: #819D45;
    margin-bottom: 0;
    font-size: 1.4rem;
}

#class-groupings p:first-of-type {
    margin: .3em 0 0;
    font-size: 1.15rem;
}

@media screen and (min-width: 768px) {
    #class-groupings {
        text-align: left;
        margin-left: 6em;
        border-left: 1px solid #819D45;
    }
}

@media screen and (min-width: 1024px) {

    #class-groupings {
        position: relative;
        top: 0;
        left: 0;
        text-align: left;
        border: none;
        margin-left: 0;
        margin-bottom: 10em;
    }

    #class-groupings > div:last-child {
        background: url(../img/friends.jpg) no-repeat center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        height: 57em;
        width: 47%;
    }

    #class-groupings h3 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    #class-groupings h2 {
        font-size: 1.8rem;
    }

    #class-groupings p:first-of-type {
        font-weight: 500;
        font-size: 1.15rem;
        margin: .3em 0 0;
    }

    /* #class-groupings p:last-of-type {
        margin: 1.5em 0;
    } */

    #class-groupings p:last-child {
        margin: .3em 0 2em;
        font-size: 1.1rem;
    }

}


/* ----- CLASS DESCRIPTION ----- */

#class-description section:first-child > div:first-child,
#class-description > section:nth-child(2) > div:first-child,
#class-description > section:last-child > div:first-child {
    height: 18em;
}

#class-description h2 {
    color:#819D45;
    font-weight: 500;
    margin-bottom: 0;
}

#class-description section {
    margin-bottom: 1em;
    margin-top: 4.5em;
}

#class-description p:last-child {
    margin-top: .5em;
}

@media screen and (min-width: 768px) {

    #class-description section:first-child > div:first-child,
    #class-description > section:nth-child(2) > div:first-child,
    #class-description > section:last-child > div:first-child {
        height: 29em;
    width: 20em;
    }

    #class-description section:first-child {
        margin-bottom: .8em;
    }

    #class-description section:first-child > div:last-child {
        margin-top: 4em;
    }

    #class-description .lg-numbers {
        margin-top: .3em;
    }

}

@media screen and (min-width: 1024px) {

    #class-description {
        margin-top: 8em;
    }
    
    /* #class-description section,
    #class-description section:first-child {
        margin-bottom: 5em;
    } */

    #class-description section:first-child > div:first-child,
    #class-description > section:nth-child(2) > div:first-child,
    #class-description > section:last-child > div:first-child {
        height: 25em;
        width: 30em;
    }

    #class-description section div {
        margin-right: 6em;
    }   
}

/* ----- STUDIO ETIQUETTE ----- */

#etiquette li {
    list-style-type: initial;
    line-height: 2rem;
    margin-bottom: 1.4em;
}

#etiquette ul {
    padding-left: 0;
    margin-bottom: 0;
}

#etiquette ul:first-child li:last-child  {
    margin-bottom: 0;
}

/* ----- BORDERS ----- */

.border-green {
    background-color: #BDD191;
    margin: 0 auto;
    padding: .05em;
}

.border-green .col-sm-8  {
    margin-bottom: 4em;
}

.border-green .col-sm-2 {
    display: none;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

    .border-green .col-lg-5 {
        margin-bottom: 9em;
    }

    .col-sm-8 {
        display: none;
    }
}

/* ----- IMAGES ----- */

#class-description > section:nth-child(2) > div:first-child,
#class-levels section:nth-child(2) div{
    background: url(../img/stretch.jpg) no-repeat center;
}

#class-description > section:last-child > div:first-child {
    background: url(../img/yoga-class.jpg) no-repeat center;
}

#class-levels section:first-child div,
#class-description section:first-child > div:first-child{
    background: url(../img/outdoor-class.jpg);
}

#class-levels section:last-child div,
#class-description > section:last-child > div:first-child {
    background: url(../img/yoga-class.jpg) no-repeat center;
}

#hero-home > div:last-child,
#hero-home > div:nth-child(2),
#hero-our-classes > div:last-child,
#our-philosophy:before,
#memberships > div:first-child div,
#class-levels section:first-child div,
#class-levels section:nth-child(2) div,
#class-levels section:last-child div,
#class-description section:first-child > div:first-child,
#class-description > section:last-child > div:first-child,
#class-description > section:nth-child(2) > div:first-child {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */

.col-center {
    margin: 0 auto;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top: auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* ----- BUTTONS ----- */

.btn {
    background-color: #fff;
    color: #2B5913;
    padding: .8em 2em;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .1em;
    border: 1px solid #819D45;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    -o-radius: .4em;
    -ms-border-radius: .4em;
    border-radius: .4em;
}

@media screen and (min-width: 768px) {

    .btn {
        padding: 1em 3.2em; 
        font-size: .8rem;
    }
}

@media screen and (min-width: 1024px) {

    .btn {
        padding: 1em 3.2em; 
        font-size: .8rem;
    }

    .btn:hover {
        background-color: #E9EFDB;
    }
}

/* ----- ICONS ----- */

[class^="fa"]{
    color: #819D45;
    font-size: 1.5rem;
    margin: 0 .5em 1em 0;
}

@media screen and (min-width: 1024px) {
    [class^="fa"]{
        font-size: 1.4rem;
        margin: 8.4em .4em 0 0;
    }

    .fa-angle-down {
        color: #fff;
        font-size: 3.5rem;
    }
}

