@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors

5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components

7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class   

--------------------------------------------------------------*/

/*--------------------------------------------------------------
    2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----------- UNIVERSAL ------------- */

* {
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-weight: 400;
}

html {
    font-size: .95rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
}

@media screen and (min-width: 1024px) {
 
    html {
        font-size: 1rem;
    }
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

li {
    list-style-type: none;
}

nav li:first-child a {
    color: #819D45;
}

@media screen and (min-width: 1024px) {
 
    img {
        margin-top: .35em;
    }
}

/* ----- TYPOGRAPHY ----- */

h1 {
    text-align: center;
}

@media screen and (min-width: 1024px) {

    h1 {
        text-align: left;
    }
}



/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 93%;
        margin: 0 auto;
}

.row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

[class*='col-'] {
        padding: 2px;
}

[class*='col-'] [class*='col-'] {
        margin-left: -2px;
        margin-right: -2px;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}
.col-sm-2 {
    width: calc(100% * 2 / 12);
}
.col-sm-3 {
    width: calc(100% * 3 / 12);
}
.col-sm-4 {
    width: calc(100% * 4 / 12);
}
.col-sm-5 {
    width: calc(100% * 5 / 12);
}
.col-sm-6 {
    width: calc(100% * 6 / 12);
}
.col-sm-7 {
    width: calc(100% * 7 / 12);
}
.col-sm-8 {
    width: calc(100% * 8 / 12);
}
.col-sm-9 {
    width: calc(100% * 9 / 12);
}
.col-sm-10 {
    width: calc(100% * 10 / 12);
}
.col-sm-11 {
    width: calc(100% * 11 / 12);
}
.col-sm-12 {
    width: calc(100% * 12 / 12);
}


@media screen and (min-width: 768px) {

        .wrapper {
                width: 85%;
        }

        [class*='col-'] {
                padding: 8px;
        }

        [class*='col-'] [class*='col-'] {
                margin-left: -8px;
                margin-right: -8px;
        }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }
    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}


@media screen and (min-width: 1024px) {
        .wrapper {
                width: 70%;
        }

        [class*='col-'] {
                padding: 5px;
        }

        [class*='col-'] [class*='col-'] {
                margin-left: -5px;
                margin-right: -5px;
        }

    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }
    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

#kombucha,
#etiquette {
    background-color: #E9EFDB;
    margin-bottom: 2em;
}

#etiquette li {
    list-style-type: initial;
    line-height: 2rem;
    margin-bottom: 1.4em;
}

#etiquette ul {
    padding-left: 0;
}

.lg-numbers {
    font-size: 3rem;
    font-weight: 700;
    color: #BDD191;
    margin: .8em 0 .5em;
}

.border-green,
.border-green-footer {
    background-color: #BDD191;
    margin: 0 auto;
}

.border-green {
    padding: 1px;
}

.border-green-footer {
    padding: .75px;
}

@media screen and (min-width: 1024px) {
    .border-green-footer {
        padding: 0;
    }

    .lg-numbers {
        font-size: 4rem;
        margin: .8em 0 .5em;
    }
}

/* ----- HERO ----- */

#hero-home > div:last-child ,
#hero-our-classes > div:last-child {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

#hero-home > div:last-child {
    background: url(../img/hero-lg.jpg) no-repeat center;
    background-size: cover;
    padding: 2em 0;
}

#hero-home p:first-child {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.3rem;
    margin: 2em 1.5em 0em 0;
    color: #272727;
}

#hero-our-classes > a:first-child {
    margin-top: 2.5em;
    text-align: center;
}

#hero-our-classes > div:last-child {
    background: url(../img/succulent.jpg) no-repeat center;
    background-size: cover;
    padding: 10em 0;
}

@media screen and (min-width: 1024px) {
    #hero-home p:first-child {
        font-size: 3.5rem;
        line-height: 4.4rem;
        margin: 1em .5em .5em 0;
        }
    
    #hero-home > div:last-child {
        background: url(../img/hero-lg.jpg) no-repeat center;
        background-size: cover;
        padding: 14em 0 20em;
        }

    #hero-home img {
        text-align: left;
    }
}

/* ----- NAVIGATION ----- */

nav li {
    display: inline-block;
    margin: 0 .5em .6em .5em;
    letter-spacing: 1.5px;
    font-size: .9em;
}

nav a {
    color: #5E5E5E;
    letter-spacing: 2.5px;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav li:first-child a {
    color: #819D45;
}

@media screen and (min-width: 1024px) {

    nav ul {
        text-align: right;
        margin-top: 2.2em;
    }

    nav a {
        margin-left: 3em;
        font-size: .8rem;
    }

    nav li {
        display: inline-block;
        margin-bottom: 1em;
        font-size: 1em;

    }
}

/* ----- FOOTER ----- */


footer > div:last-child li {
    display: inline-block;
    margin-top: 9.9em;
}

footer {
    text-align: center;
}

footer ul {
    padding-left: 0;
    margin: .5em 0 1em;
}

footer img {
    margin-top: 2em;
}

footer a {
    letter-spacing: 1.5px;
    font-size: .9em;
    color: #5E5E5E;
}

@media screen and (min-width: 1024px) {
    footer {
        text-align: left;
    }

    footer ul {
        margin: .5em 0 3em;
    }

    footer a {
        letter-spacing: 2.5px;
        line-height: 2.5rem;
    }
}

/* ----- OUR PHILOSOPHY ----- */

#our-philosophy {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

#our-philosophy > div:last-child {
    background: url(../img/buddha.jpg) no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: static;
    top: 0px;
    height: 255px;
    width: 100%;
    margin-bottom: 5em;
}

@media screen and (min-width: 1024px) {

    #our-philosophy {
        position: relative;
        top: 0;
        left: 0;
        text-align: left;
        }

    #our-philosophy > div:last-child {
        background: url(../img/buddha.jpg) no-repeat center;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        position: absolute;
        top: 0px;
        left: 912px;
        height: 596px;
        width: 50%;
    }
}

/* ----- MEMBERSHIPS ----- */

#memberships {
    position: static;
    top: 0;
    left: 0;
}

#memberships > div:first-child div{
    background: url(../img/meditation.jpg) no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: static;
    top: 0;
    left: 0px;
    height: 321px;
    width: 100%;
}

@media screen and (min-width: 1024px) {

    #memberships {
        position: relative;
        top: 0;
        left: 841px;
        margin: 8em 0;
    }
    
    #memberships > div:first-child div{
        background: url(../img/meditation.jpg) no-repeat center;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        position: absolute;
        top: 0;
        left: -1008px;
        height: 521px;
        width: 69%;
    }

}


/* ----- CLASS LEVELS ----- */

#class-levels section:first-child > div,
#class-levels section:nth-child(2) > div,
#class-levels section:last-child > div {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    padding: 9em;
}

#class-levels section:first-child > div{
    background: url(../img/outdoor-class.jpg);
    background-size: cover;
}

#class-levels section:nth-child(2) > div{
    background: url(../img/stretch.jpg);
    background-size: cover;
}

#class-levels section:last-child > div{
    background: url(../img/yoga-class.jpg);
    background-size: cover;
}

#class-levels section {
    text-align: center;
}

#class-levels header + p {
    margin-top: 0;
}

#class-levels > p:last-child {
    text-align: center;
}

#class-levels h3 {
    margin-bottom: .4em;
}

@media screen and (min-width: 1024px) {

}

/* ----- CLASS GROUPINGS ----- */

@media screen and (min-width: 1024px) {
    #class-groupings{
    position: relative;
    top: 0;
    left: 0;
}

#class-groupings > div:last-child {
    background: url(../img/friends.jpg) no-repeat center;
    background-size: auto;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -125px;
    height: 631px;
    width: 50%;
}
}

/* ----- CLASS GROUPINGS ----- */


/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */

.btn {
    background-color: #fff;
    padding: 1em 3em;
    color: #5E5E5E;
    font-size: .55rem;
    letter-spacing: 1px;
    border: 1px solid #819D45;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    -o-radius: .4em;
    -ms-border-radius: .4em;
    border-radius: .4em;
}

[class^="fa"]{
    color: #819D45;
    font-size: 1.4rem;
    margin-right: .3em;
}

.col-center {
    margin: 0 auto;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top: auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

@media screen and (min-width: 1024px) {
    [class^="fa"]{
        font-size: 1.2rem;
    }

    .btn {
        padding: 1.1em 3.5em;
        font-size: .75rem;
    }
}

